@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-neutral-700;
  font-family: 'system-ui';
}

.header {
  background: #fff;
  text-align: center;
  font-size: 16px;
  padding: 36px;
  border: 1px solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 2px 2px #000000;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
}
